@import 'tailwindcss';

@theme {
  --custom-light: #e1ffd9;
  --custom-light-hover: #d0ffbf;
  --custom-brown: #8b6d43;
  --custom-brown-dark: #6d5635;
  --custom-brown-light: #a88c5f;
  --custom-brown-lighter: #f0e6d6;
  --custom-green: #4caf50;
  --custom-green-dark: #388e3c;
  --custom-teal: #5fbfb5;
  --custom-teal-dark: #419c91;
}
