@import 'tailwindcss';

@theme {
  --custom-light: #e1ffd9;
  --custom-light-hover: #d0ffbf;
  --custom-mauve: #9370db;
  --custom-mauve-dark: #7851a9;
  --custom-mauve-light: #b59ae3;
  --custom-mauve-lighter: #e6dff8;
  --custom-green: #4caf50;
  --custom-green-dark: #388e3c;
  --custom-teal: #5fbfb5;
  --custom-teal-dark: #419c91;
}
