@import 'tailwindcss';

@theme {
  --custom-light: #f2e5d5;
  --custom-light-hover: #dab79f;
  --custom-brown: #dab79f;
  --custom-brown-dark: #6a7562;
  --custom-brown-light: #c8b8a9; /* Nouvelle valeur - beige rosé plus clair */
  --custom-brown-lighter: #f2e5d5;
  --custom-green: #afb796; /* Inchangé - vert clair */
  --custom-green-dark: #6a7562;
  --custom-teal: #8fa383; /* Nouvelle valeur - vert plus vif */
  --custom-teal-dark: #556b4d; /* Nouvelle valeur - vert foncé différent */
}
